<div class="container">
  <div>
    <img alt="logo" class=" img-rounded img-responsive" src="{{ 'logo.png' | theme_image_url}}" width="1140" height="200" />
  </div>
  <div>
    <ul id="carousel">
      <li style="opacity:1;">
        <img alt="banner1" class="img-rounded img-responsive" src="{{ 'banner1.jpg' | theme_image_url }} " width="1140" height="350"/>
      </li>
      <li>
        <img alt="banner2" class="img-rounded img-responsive" src="{{ 'banner2.jpg' | theme_image_url }} " width="1140" height="350"/>
      </li>
      <li>
        <img alt="banner3" class="img-rounded img-responsive" src="{{ 'banner3.jpg' | theme_image_url }} " width="1140" height="350"/>
      </li>
      <li>
        <img alt="banner4" class="img-rounded img-responsive" src="{{ 'banner.jpg' | theme_image_url }} " width="1140" height="350"/>
      </li>
      <li>
        <img alt="banner5" class="img-rounded img-responsive" src="{{ 'banner4.jpg' | theme_image_url }} " width="1140" height="350"/>
      </li>
    </ul>
  </div>
</div>