---
title: Contact
listed: true
published: true
searchable: true
position: 8
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container">
<div class="containertext col-md-12">

  <div class="space center">

    {{ 'span(vino). Contact us' | textile}}

  </div>
  
  <div class="col-md-offset-2 col-md-4 ">
    {% editable_text "CMO_contact", rows: 40 %}
    <p>CMO</p>
    <p><b> Interim Director:</b></p>
    <p>Dr. José Antonio De la Peña Mena</p>
    <p>Phone: +52 (473) 732 7155 ext.4545</p>
    <p>Email: <a href="mailto:jap@cimat.mx">jap@cimat.mx</a></p>
    <p></p>    
    <p><b> Coordinator:</b></p>
    <p>Dra.Silvia Millán López</p>
    <p>Phone: +52 (951) 520 1682</p>
    <p>Email: <a href="mailto:silvia.millan@cimat.mx">silvia.millan@cimat.mx</a></p>
    <p></p>
    <p><b> Assistant:</b></p>
    <p>Claudia Arias Cao Romero</p>
    <p>Phone: +52 (951) 520 1682</p>
    <p>Email: <a href="mailto:cmo-birs@cimat.mx">cmo-birs@cimat.mx</a></p>
    <p></p>
    <p><b>Information Technology:</b></p>
    <p>Miguel Ricardo Altamirano Ibarra</p>
    <p>Phone: +52 (951) 231 0100</p>
    <p>Email: <a href="mailto:miguel.altamirano@cimat.mx">miguel.altamirano@cimat.mx</a></p>
    <p></p>
    <p><b>CMO Mailing Address:</b></p>
    <p>CMO OFFICE</p>
    <p>Calle Hidalgo #21 Col. San Felipe del Agua</p>
    <p>C.P. 68020 Oaxaca, Oax. Mexico</p>
    {% endeditable_text %}

  </div>
  <div class="col-md-5 col-md-offset-1">

    {% editable_text "BIRS_contact", rows:40 %}
    <p>BIRS</p>
    <p><b>Scientific Director:</b></p>
    <p>Dr. Nassif Ghoussoub</p>
    <p>Phone: 604-822-1649</p>
    <p>Email: <a href="birs-director@birs.ca">birs-director@birs.ca</a></p>
    <p></p>
    <p><b>Administrator:</b></p>
    <p>Danny Fan</p>
    <p>Phone: 604-822-1844</p>
    <p>Email: <a href="mailto:birs-administrator@birs.ca">birs-administrator@birs.ca</a></p>
    <p></p>
    <p><b>Scientific Program Coordinator:</b></p>
    <p>Chee Chow</p>
    <p>Phone: 604-822-5213</p>
    <p>Email: <a href="mailto:birs@birs.ca">birs@birs.ca</a></p>
    <p></p>
    <p><b>Technology Manager:</b></p>
    <p>Brent Kearney</p>
    <p>Phone: 403-763-6997</p>
    <p>Email: <a href="mailto:brentk@birs.ca">brentk@birs.ca</a></p>
    <p></p>
    <p><b>BIRS Mailing Address:</b></p>
    <p>Banff International Research Station</p>
    <p>c/o The Banff Centre Room 103, TransCanada Pipelines Pavilion</p>
    <p>107 Tunnel Mountain Drive Box 1020  Stn 48 </p>
    <p>Banff  AB  T1L 1H5, Canada</p>
    {% endeditable_text %}

  </div>
</div><!--container-->
</div><!--container-->


<div class="new">
    <div class="row col-md-9 col-md-offset-2">
         {% model_form 'customer_messages', success: '/', error: '/contact' %}

          {% if customer_message.errors %}
            <div class="alert alert-danger" role="alert">The following errors occured</div>
            <ul>
            {% for error in customer_message.errors %}
              <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
            {% endfor %}
            </ul>
          {% endif %}
          
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" class="form-control" name="content[name]" placeholder="Name" aria-describedby="sizing-addon2" value="{{customer_message.name}}">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" class="form-control" name="content[email]" placeholder="Email" aria-describedby="sizing-addon2" value="{{customer_message.email}}">
            </div>
            <textarea name="content[message]" class="form-control" rows="3" placeholder="message">{{customer_message.message}}</textarea>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        {% endmodel_form %}
    </div>
</div><!--end New-->


</div><!--container-->


<div class="new">
    <div class="row col-md-9 col-md-offset-2">
         {% model_form 'customer_messages', success: '/', error: '/contact' %}

          {% if customer_message.errors %}
            <div class="alert alert-danger" role="alert">The following errors occured</div>
            <ul>
            {% for error in customer_message.errors %}
              <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
            {% endfor %}
            </ul>
          {% endif %}
          
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" class="form-control" name="content[name]" placeholder="Name" aria-describedby="sizing-addon2" value="{{customer_message.name}}">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" class="form-control" name="content[email]" placeholder="Email" aria-describedby="sizing-addon2" value="{{customer_message.email}}">
            </div>
            <textarea name="content[message]" class="form-control" rows="3" placeholder="message">{{customer_message.message}}</textarea>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        {% endmodel_form %}
    </div>
</div><!--end New-->


</div><!--container-->


{% endblock %}
